<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2>Welcome, <span th:text="${user.firstName+ ' ' + user.lastName}"></span> to Admin Dashboard</h2>
<a th:href="@{/logout}" class="btn btn-primary">Logout</a>
</div>
</div>
</div>