<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <style>
  .inputError {
  color:red;
  }
  </style>
</head>
<body>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2>Welcome, <span th:text="${user.firstName+ ' ' + user.lastName}"></span> to Edit Page
<a th:href="@{/logout}" class="btn btn-primary" style="float:right;margin-top:10px;margin-bottom:10px;">Logout</a>
</h2>



<form method="post" id="updateForm" name="updateForm" th:action="@{${action}}" th:object="${user}" novalidate="novalidate">
<div class="form-group">
<input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" required="required" th:field="*{firstName}">
</div>
<div class="form-group">
<input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required="required" th:field="*{lastName}">
</div>
<div class="form-group">
<input type="text" name="email" id="email" class="form-control" placeholder="Email" required="required" th:field="*{email}" readonly="readonly">
</div>

<div class="form-group">
<input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number" required="required" th:field="*{phoneNumber}">
</div>
<div class="form-group">
<textarea  name="address" id="address" class="form-control" placeholder="Address" required="required" th:field="*{address}"></textarea>
</div>
<div class="form-group">
<input type="text" name="role" id="role" class="form-control" placeholder="Role" required="required" th:field="*{role}" readonly="readonly">
</div>



<div class="form-group">
<button type="submit" class="btn btn-primary">Update</button>

</div>

</form>
</div>
</div>
</div>
<script type="text/javascript">
	$(function() {
	    $("#updateForm").validate({
	    	errorClass:'inputError',
	    	validClass:'InputSuccess',
	    	rules: {
	    		firstName:{required:true},
	    		lastName:{required:true},
	    		email:{required:true,email:true},
	    		password:{required:true,minlength:6,maxlength:15},
	    		phoneNumber:{required:true},
	    		role: {required:true},
	    		address: {required:true}
	    		},
	    		
	    	messages: {	
	    		firstName: {
	    			required: "Please enter first name"
	    		},
	    		lastName: {
	    			required: "Please enter first name"
	    		},
	    		email: {
	    			required: "Please enter email",
	    			email : "Please enter valid email"
	    		},
	    		password:{
	    			required:"Please enter password",
	    			minlength:"Password must be 6 digits length",
	    			maxlength:"Password cann't exceed 15 digits length"
	    		},
	    		phoneNumber:{
	    			required:"Please enter phone number",
	    			
	    		},
	    		role: {
	    			required: "Please choose role"
	    		},
	    		address: {
	    			required: "Please enter address"
	    		}

	    	},
	    	submitHandler: function(form) {	
			     form.submit();
	    		}
	    	});
	  });
	</script>
</body>
</html>