<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link type="text/css" rel="stylesheet" th:href="@{/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <style>
  .inputError {
  color:red;
  }
  </style>
</head>
<body>

<div class="container wrapper fadeInDown">
<div id="formContent">
<div class="row">
<div class="col-md-12">
<h2 class="fadeIn first">login Form</h2>
<div class="alert alert-danger alert-dismissible" th:if="${errormessage}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong th:text="${errormessage}"></strong>
</div>
<div class="alert alert-success alert-dismissible" th:if="${successmessage}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong th:text="${successmessage}"></strong>
</div>

<form method="post" id="loginForm" name="loginForm" th:action="@{/login-process}" novalidate="novalidate">
<div class="form-group">
<input type="text" name="email" id="email" class="form-control fadeIn second" placeholder="Email" required="required">
</div>
<div class="form-group">
<input type="password" name="password" id="password" class="form-control fadeIn third" placeholder="Password" required="required">
</div>

<div class="form-group">
<input type="submit" class="btn btn-primary fadeIn fourth" value="Login" style="width:85%">
</div>

</form>
 <div id="formFooter">
      <a class="underlineHover"th:href="@{/registration}" style="text-decoration: none;">New User?</a>
    </div>









</div>
</div>
</div>
</div>
<script type="text/javascript">
	$(function() {
	    $("#loginForm").validate({
	    	errorClass:'inputError',
	    	validClass:'InputSuccess',
	    	rules: {
	    		email:{required:true,email:true},
	    		password:{required:true,minlength:6,maxlength:15}
	    		},
	    		
	    	messages: {			
	    		email: {
	    			required: "Please enter email",
	    			email : "Please enter valid email"
	    		},
	    		password:{
	    			required:"Please enter password",
	    			minlength:"Password must be 6 digits length",
	    			maxlength:"Password cann't exceed 15 digits length"
	    		}

	    	},
	    	submitHandler: function(form) {	
			     form.submit();
	    		}
	    	});
	  });
	</script>
</body>
</html>