<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <style>
  .inputError {
  color:red;
  }
  </style>
</head>
<body>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2>Registration Form</h2>
<div class="alert alert-danger alert-dismissible" th:if="${errormessage}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong th:text="${errormessage}"></strong>
</div>
<div class="alert alert-success alert-dismissible" th:if="${successmessage}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong th:text="${successmessage}"></strong>
</div>

<form method="post" id="registrationForm" name="registrationForm" th:action="@{/register-process}" th:object="${user}" novalidate="novalidate">
<div class="form-group">
<input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" required="required" th:field="*{firstName}">
</div>
<div class="form-group">
<input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required="required" th:field="*{lastName}">
</div>
<div class="form-group">
<input type="text" name="email" id="email" class="form-control" placeholder="Email" required="required" th:field="*{email}">
</div>
<div class="form-group">
<input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required" th:field="*{password}">
</div>
<div class="form-group">
<input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number" required="required" th:field="*{phoneNumber}">
</div>
<div class="form-group">
<select class="form-control" name="role" id="role"  required="required" th:field="*{role}">
<option value="">Select Role</option>
<option value="USER">USER</option>
<option value="ADMIN">ADMIN</option>
<option value="SUPERADMIN">SUPERADMIN</option>
</select>
</div>

<div class="form-group">
<button type="submit" class="btn btn-primary">Signup</button>
<a th:href="@{/login}" style="float:right;">Login?</a>
</div>

</form>
</div>
</div>
</div>

<script type="text/javascript">
	$(function() {
	    $("#registrationForm").validate({
	    	errorClass:'inputError',
	    	validClass:'InputSuccess',
	    	rules: {
	    		firstName:{required:true},
	    		lastName:{required:true},
	    		email:{required:true,email:true},
	    		password:{required:true,minlength:6,maxlength:10},
	    		phoneNumber:{required:true},
	    		role: {required:true}
	    		},
	    		
	    	messages: {	
	    		firstName: {
	    			required: "Please enter first name"
	    		},
	    		lastName: {
	    			required: "Please enter first name"
	    		},
	    		email: {
	    			required: "Please enter email",
	    			email : "Please enter valid email"
	    		},
	    		password:{
	    			required:"Please enter password",
	    			minlength:"Password must be 6 digits length",
	    			maxlength:"Password cann't exceed 10 digits length"
	    		},
	    		phoneNumber:{
	    			required:"Please enter phone number"
	    		},
	    		role: {
	    			required: "Please choose role"
	    		}

	    	},
	    	submitHandler: function(form) {	
			     form.submit();
	    		}
	    	});
	  });
	</script>
</body>
</html>