<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>
					Welcome, <span th:text="${user.firstName+ ' ' + user.lastName}"></span>
					to User Dashboard
				</h2>
				<a th:href="@{/logout}" class="btn btn-primary"
					style="float: right;">Logout</a> <a class="btn btn-success"
					th:href="@{'/users/edituserinfo'}">Edit</a>

				<div class="alert alert-success alert-dismissible"
					th:if="${successmessage}" style="margin-top: 10px;">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong th:text="${successmessage}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible"
					th:if="${errormessage}" style="margin-top: 10px;">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong th:text="${errormessage}"></strong>
				</div>

				<table class="table table-bordered" style="margin-top: 10px;">
					<tbody>
						<tr>
							<th>Email</th>
							<td th:text="${user.email}"></td>
						</tr>
						<tr>
							<th>Role</th>
							<td th:text="${user.role}"></td>
						</tr>
						<tr>
							<th>Phone Number</th>
							<td th:text="${user.phoneNumber}"></td>
						</tr>
						<tr>
							<th>Address</th>
							<td th:text="${user.address}"></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>